.Hide-Column {
    display: none;
}

div.Position-Create{
    width: 88%;
    margin: auto;
    padding: 20px 0px;
}

div.My-Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: rgb(211, 208, 208);
    border: 1px solid #ccc;
    transition: 1.1s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
    filter: blur(0);
    opacity: 1;
    visibility: visible;
    z-index: 30;
}

h2.My-Title {
    color: rgb(168, 14, 14);    
}

div.My-Header {
    border-bottom: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
}

div.My-Content {
    padding: 1rem;
}
 
div.My-Actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
}

#Close-Modal {
    border: 0;
    background: #78f89f;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
}

#centered-toggle-button {
  position: absolute;
}

.overlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */ 
    filter: alpha(opacity=50); /* in IE */
}